@using DigitalClinic6.Models;
@inject HttpClient Http
<RadzenCard Style="width:45%; margin: 0 auto; margin-bottom:10px; height:25%;">
    <div class="row">
        <div class="col-md-2">
            <RadzenImage Path="@doctor.Image" Style="width:100px;" />
        </div>
        <div class="col-md-5">
            <h1>@doctor.Name</h1>
            <h2>@doctor.Speciality</h2>
            <p>@doctor.Distance km </p>
            <hr />
        </div>
        <div class="col-md-5">
            <p class="oi oi-star">@doctor.Rating</p>
            <p>Speaks in English</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <a href="#" class="oi oi-phone">Video Call</a>
        </div>
        <div class="col-md-5">
            <a href="#" class="oi oi-calendar">Appointment</a>
            <a href="#" class="oi oi-chat">Chat</a>
        </div>

    </div>
        
</RadzenCard>
@code {
    [Parameter]
    public Doctor doctor { get; set; }
    
  
}