
@page "/Doctors"

@using DigitalClinic6.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<h3>All Doctors</h3>

@if (DoctorList.Count == 0)
{
<p><em>Loading...</em></p> }
            else
            {

                
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input @bind-value="SearchTerm" class="col-8" @bind-value:event="oninput" />
                    <button type="button" class="btn btn-primary btn-lg pull-right" @onclick="@SearchDoctors"><span class="oi oi-zoom-in"></span></button>
                </div>
                </form>
                <table class="table">
                    <thead>


                        <tr>
                            <th>Name</th>
                            <th>Available balance</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var doctor in DoctorList)
                        {@*<tr>
                <td>@doctor.Name</td>
                <td>@doctor.Speciality</td>
                <td>@doctor.Address</td>
                <td>@doctor.Distance</td>
            </tr>*@
                                            <DoctorCard doctor="@doctor" />}

                    </tbody>
                </table>

                }



                @code { string SearchTerm { get; set; } = "";
                        private List<Doctor> DoctorList = new List<Doctor>();
                            List<Doctor> query = new List<Doctor>();
                            protected override async Task OnInitializedAsync()
                            {

                                query = await Http.GetFromJsonAsync<List<Doctor>>("api/Doctor/GetAllDoctors");
                                DoctorList = query;

                            }
                            async Task SearchDoctors()
                            {
                                DoctorList = query.Where(i => i.Name.ToLower().Contains(SearchTerm.ToLower())).ToList();
                            }
                }

